.calc-container {
  height: 98vh;
  margin: auto;
  background-color: #0d520a;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  touch-action: none;
  box-sizing: content-box;
  overflow: scroll;
}

.output-value {
  width: 100%;
  max-height: 25vh;
  background-color: #444;
  color: #eee;
  font-size: 10vh;
  border-radius: 6px;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow: scroll;
}

.btn {
  max-height: 15vh;
  background-color: #eee;
  color: #222;
  font-size: 10vh;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: calc(25% - 10px);
  margin: 5px;
  user-select: none;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-clear {
  background-color: #f44336;
  color: #fff;
}

.btn-equal {
  width: 100%;
  background-color: #2196f3;
  color: #fff;
}

.btn-operation {
  background-color: #9c27b0;
  color: #fff;
}

.btn-number {
  font-weight: bold;
}
